<mat-card class="list-mat-card">
    <mat-card-content>
        <h2>Shopping Cart</h2>
        <mat-stepper *ngIf="dataSource.length" orientation="vertical" linear="true" #stepper>
            <mat-step>              
                <ng-template matStepLabel>Check your products</ng-template>
                <table *ngIf="dataSource.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="picture">
                        <th mat-header-cell *matHeaderCellDef> Picture </th>
                        <td mat-cell *matCellDef="let element"> <img class="tablepic" src="{{element.prod.picture}}"/> </td>  
                        <td mat-footer-cell *matFooterCellDef> <button mat-raised-button [routerLink]="'/shoppinglist'">Add More Products</button></td>              
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.prod.name}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>  
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="buttondiv">
                            <button color="basic" mat-raised-button *ngIf="element.prod.quantity > 0 && verifyProd(element.prod)===0" (click)="addToCart(element.prod)">Add to Cart</button>
                            <button color="basic" mat-raised-button *ngIf="element.prod.quantity > 0 && verifyProd(element.prod)>0" (click)="removeFromCart(element.prod)">-</button>
                            <div class="qty" *ngIf="element.prod.quantity > 0 && verifyProd(element.prod)>0" >{{verifyProd(element.prod)}} in Cart</div>
                            <button color="basic" mat-raised-button *ngIf="element.prod.quantity > 0 && verifyProd(element.prod)>0"  [disabled]="element.prod.quantity === verifyProd(element.prod)" (click)="addToCart(element.prod)">+</button>                       
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                          <button mat-raised-button class="addmore" (click)="clearCart()">Clear Cart</button>
                        </td>
                    </ng-container>      
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.prod.basePrice | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> TOTAL: </td>
                    </ng-container> 
                    <ng-container matColumnDef="totalprice">
                        <th mat-header-cell *matHeaderCellDef> Total Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalPrice | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                    </ng-container>    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
                <div>
                  <button color="primary" mat-raised-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your Personal Information</ng-template>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="fieldtotal">
                  <mat-label>Company Name (Optional)</mat-label>
                  <input matInput formControlName="companyName" >
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="fieldtotal">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country" required>
                    <mat-option value="Canada">Canada</mat-option>
                  </mat-select>    
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>Street Address</mat-label>
                  <input matInput formControlName="streetAddress" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="cityAddress" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>Province</mat-label>
                  <mat-select formControlName="provinceAddress" required>
                    <mat-option value="Alberta">Alberta</mat-option>
                    <mat-option value="British Columbia">British Columbia</mat-option>
                    <mat-option value="Manitoba">Manitoba</mat-option>
                    <mat-option value="New Brunswick">New Brunswick</mat-option>
                    <mat-option value="Newfoundland and Labrador">Newfoundland and Labrador</mat-option>
                    <mat-option value="Nova Scotia">Nova Scotia</mat-option>
                    <mat-option value="Northwest Territories">Northwest Territories</mat-option>
                    <mat-option value="Nunavut">Nunavut</mat-option>
                    <mat-option value="Ontario">Ontario</mat-option>
                    <mat-option value="Prince Edward Island">Prince Edward Island</mat-option>
                    <mat-option value="Quebec">Quebec</mat-option>
                    <mat-option value="Saskatchewan">Saskatchewan</mat-option>
                    <mat-option value="Yukon">Yukon</mat-option>
                  </mat-select>  
                </mat-form-field>
                <mat-form-field appearance="fill"class="fieldmed"> 
                  <mat-label>Postal Code</mat-label>
                  <input matInput formControlName="postalCode" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="fieldmed">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
                </mat-form-field>                
                <div>
                  <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                  <button color="primary" mat-raised-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>   
            <mat-step [stepControl]="thirdFormGroup">              
                <form [formGroup]="thirdFormGroup">
                  <ng-template matStepLabel>Add coupons</ng-template>
                  <mat-form-field appearance="fill" class="fieldmed">
                    <mat-label>Coupon Number</mat-label>
                    <input matInput formControlName="coupon">                    
                  </mat-form-field>         
                  <mat-error *ngIf="couponInvalid">
                    The Coupon is invalid, please try again
                  </mat-error>       
                  <div>
                    <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                    <button color="primary" mat-raised-button (click)="checkCoupon()">Next</button>
                  </div>
                </form>                
            </mat-step>          
            <mat-step>              
                <ng-template matStepLabel>Confirm Order</ng-template>
                <table class="mat-table mat-elevation-z8">
                  <tr>
                    <td>Subtotal</td>
                    <td>{{getTotalCost() | currency}}</td>
                  </tr>        
                  <tr >
                    <td>Tax ({{tax*100}}%)</td>
                    <td >{{getTotalWithTaxes() | currency}}</td>                    
                  </tr>  
                  <tr *ngIf="couponDiscount">
                    <td>Coupon Discount ({{couponDiscount*100}}%)</td>
                    <td >{{couponDiscount*(getTotalCost()+getTotalWithTaxes()) | currency}}</td>                    
                  </tr>    
                  <tr>
                    <td><b>Total</b></td>
                    <td>{{getTotalWithCoupons() | currency}}</td>
                  </tr>    
                </table>
                
                <div>
                  <button color="primary" mat-raised-button matStepperPrevious>Back</button>
                  <button color="primary" mat-raised-button (click)="checkout()">Submit Order</button>
                </div>              
            </mat-step>  
          </mat-stepper>
        <div class="finishedmessage" *ngIf="finished">
          Thank you for your order!!
        </div>
        <div class="emptymsg" *ngIf="dataSource.length===0" >
            Please add items to the cart on the <a [routerLink]="'/shoppinglist'">Product Menu</a>
        </div>
    </mat-card-content>
</mat-card>