<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <!--<mat-icon >menu</mat-icon>(click)="sidenav.toggle()"-->
        <img src="../../assets/pics/logo.png" alt="" height="100%">
      </button>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/products'"> Products </a>
        <a mat-button [routerLink]="'/create-account'"> Your Account </a>
        <a mat-button [routerLink]="'/about'"> About Us </a>
      </div>
    </mat-toolbar-row>
  
    <!--<mat-toolbar-row>
        <span style="font-size: 12px;">Bakingbella text</span>
      </mat-toolbar-row>-->
</mat-toolbar>

<div class="container content">
    <router-outlet></router-outlet>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-daa9">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">
                © Daniel Gurminder Dilpreet and Onkar 2021
            </p>
        </div>
    </footer>
</div>