body{
    background-color:#7c7197 !important;
}
footer{
    color: #ffffff;
    background-color: #3c0f4f;
    text-align: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;   
    margin-bottom: 60px; 
}
ul{
    padding-inline-start: 0px;
}
.footerflex{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}
.part1{
    flex: 33%;
    list-style-type: none;
    text-align: left;    
}
.part1 ul li {
    list-style:none;
}
.part2{
    flex: 33%;
    text-align: center;
}
.part2 .mainlogo{
    height: 175px;
    margin: 0 auto;
}
.part3{
    flex: 33%;
    text-align: right;
}
.part3 ul li {
    list-style:none;
}
.mainbutton .mat-icon-button{
    height: 80px !important;
    width: 80px !important;
}
.mat-toolbar-multiple-rows{
    min-height: 90px !important;
}
.mat-toolbar-row{
    height: 90px !important;
}
.mat-table{
    margin: 2em auto;
    width: 100%;
    background-color: #292e33 !important;
}
.tablepic{
    height: 80px;
    width: 80px;
}
.menu-spacer {
    flex: 1 1 auto;
}

.mainbutton{
    margin-left: 2%;
}

.carousel-cell > img{
    object-fit: cover !important;
}

.carousel-cell > h2 {
    position: absolute;
    right: 15%;
    bottom: 45%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    opacity: 0.6;
    font-size: 35px !important;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.carousel-cell > p{
    position: absolute;
    right: 15%;
    bottom: 37%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 70px !important;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.about{
    background-color:#7c7197 !important;
    width: 100%;
    text-align: center;
}
.about h2 {
    margin-bottom: 25px !important;
}
.about img{
    height: 325px; 
    display: inline-block;   
    padding-top: 7%;
}
.about div{
    color: #FFF;
    display: inline-block;
    width: 300px;
    text-align: justify;
    font-size: 18px !important;    
    padding: 7%;
}

.title{
    color: #fff;
    opacity: 0.6;
    font-size: 55px !important;    
    text-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}

.waiting{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../../assets/pics/waiting.jpg);
    background-position: 50% 91.42%;
    background-size: cover;
}

.waiting .waitingtitle{
    height: 500px;
}

.waitingtitle h2{
    position: relative;
    /*right: 15%;*/
    bottom: -40%;
    /*left: 15%;*/
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    opacity: 0.6;
    font-size: 7vw !important;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.products{
    text-align: center;
    background-color: #292e33;
    color: #fff;    
    padding-top: 50px;
}

.products .title{
    opacity: 1;
}

.productgroup{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
}

.prod1, .prod2, .prod3{
    flex: 33%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactus{
    background-color: #FFF;
    display: flex;
    margin: 0 auto;
    color: gray !important;
}

.contactus div{
    flex: 50%;
    margin: auto;
    margin-left: 15%;
}

.contactus div h2{
    font-size: 4vw !important;
    margin-bottom: 4vw !important;    
}

.contactus div p{
    font-size: 1.6vw !important;
    line-height: 1.8vw;
    color: #000;
}

.contactus iframe{
    flex: 75%;
    height: 30vw;
}

#scrollupbutton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}

.shoppinglistprods{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    
}
.shoppinglistprods img{
    height: 200px;
    width: 200px;
}
.shoppinglistprods mat-card{
    width: 200px;
    margin: 6px auto;
    text-align: center;
}

.shoppinglist{
    max-width: 80%;
    margin: 0 auto;
    margin: 30px auto;
}
.shoppinglist h2{
    text-align: center;
}

.shoppinglist mat-card{
    background-color: #292e33 !important;    
}
.shoppinglist .itemcard{
    background-color: #696969 !important;
}
.shoppinglist mat-card-title{
    margin-top: 5px !important;
    font-size: 19px !important;    
    
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;    
}
.outofstock{
    color: red;
}

.shoppinglist mat-card-subtitle{
    font-size: 16px !important;
}


snack-bar-container.success {
    background-color:lightseagreen;
}

snack-bar-container.error {
    background-color:palevioletred;
}

snack-bar-container.notification {
    font-size: 18px !important;
    color:white;
    font-weight:bold;
}

.mat-drawer-container{
    background-color: #7c7197 !important;
}

mat-sidenav{
  height: 100%;
  overflow-y: hidden; 
  display: flex; 
  flex-direction: column;
}

.form-mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;  
    background-color: #292e33;
}
  
.form-mat-card mat-form-field {
    display: block;
}

.form-mat-card button{
    min-width: 100%;
    margin: 2em auto;
}

.list-mat-card {
    max-width: 70%;
    margin: 2em auto;
    background-color: #292e33;
}

.list-mat-card h2{
    text-align: center;  
}

.list-mat-card th {
    font-size: 18px;
}

.list-mat-card .newBtn{
    position: absolute;
    right: 20px;
    top: 20px;
}

/*Date icon to white*/
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.mat-toolbar.mat-accent {
    background: #3c0f4f !important;
    color: white !important;
}

.ulnavbar{
    columns: 3;
    margin-left: 33px;
}

.ulnavbar li{
    list-style: none;
    
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 960px) {
    .prod1, .prod2, .prod3 {
        flex: 100%;
    }
    .mainbutton{
        width: 84%;
        text-align: center;
    }
    .productgroup {
        flex-direction: column;
    }
    .footerflex{
        flex-direction: column;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }
    .part1, .part2, .part3{
        text-align: center;    
    }
    .part2 .mainlogo {
        height: 100px;
    }
    .part3 ul{
        columns: 3;
    }
    .ulnavbar{
        columns: auto;        
        width: 100%;
        margin-left: 0px;
    }
    .ulnavbar a{
        width: 100%;
    }
}