<carousel [pauseOnHover]="false" [objectFit]="'cover'" [height]="600"  [cellWidth]="'100%'"  [transitionDuration]="800" [autoplayInterval]="3000" [autoplay]="true" [dots]="true" [loop]="true">
    <!--[images]="images"-->
    <div class="carousel-cell">
        <h2>Your Sweet</h2>
        <p>Pleasure</p>
        <img src="../../assets/carouselpics/1.jpg">
    </div>
    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/2.jpg">        
    </div>
    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/3.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/4.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/5.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/6.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/7.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/8.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/9.jpg">        
    </div>
</carousel>

<div class="about">
    <img src="../../assets/pics/redvelvet.jpg"> 
    <h2>About Us</h2>
    <p>When in New Paltz, don't miss a trip to The Bakery. Residents consider The Bakery, with its rustic outdoor cafe and beautiful gardens, to be the center of social life in New Paltz, a place to meet people, bump into old friends, or sit quietly and read the papers. Known since 1981 for great bagels, croissants, rolls, rugulah, danish and butter cookies, The Bakery includes a coffee bar and full lunch menu. Experience New Paltz! Visit The Bakery.</p>
</div> 