<carousel [pauseOnHover]="false" [objectFit]="'cover'" [height]="600"  [cellWidth]="'100%'"  [transitionDuration]="800" [autoplayInterval]="3000" [autoplay]="true" [dots]="true" [loop]="true">
    <!--[images]="images"-->
    <div class="carousel-cell">
        <h2>Your Sweet</h2>
        <p>Pleasure</p>
        <img src="../../assets/carouselpics/1.jpg">
    </div>
    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/2.jpg">        
    </div>
    <div class="carousel-cell">
        <h2>We made the flavours</h2>
        <p>Real</p>
        <img src="../../assets/carouselpics/3.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Sweetest</h2>
        <p>Prize</p>
        <img src="../../assets/carouselpics/4.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>Enjoy the little</h2>
        <p>Moments</p>
        <img src="../../assets/carouselpics/5.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>Customize your</h2>
        <p>Dreams</p>
        <img src="../../assets/carouselpics/6.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>Every sweet second</h2>
        <p>Counts</p>
        <img src="../../assets/carouselpics/7.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/8.jpg">        
    </div>

    <div class="carousel-cell">
        <h2>The Most popular</h2>
        <p>Bakery</p>
        <img src="../../assets/carouselpics/9.jpg">        
    </div>
</carousel>

<div class="about">
    <img src="../../assets/pics/redvelvet.jpg"> 
    <div>
        <h2 class="title">About Us</h2>
        <p>When in Waterloo, don't miss a trip to Baking Bella. Residents consider The Bakery, with its rustic outdoor cafe and beautiful gardens, to be the center of social life in Waterloo, a place to meet people, bump into old friends, or sit quietly and read the papers. Known since 1981 for great bagels, croissants, rolls, rugulah, danish and butter cookies, Baking Bella includes a coffee bar and full lunch menu. Experience Waterloo! Visit Baking Bella.</p>
    </div>
</div> 

<div class="products"> 
    <div class="productgroup">
        <div class="prod1">
            <img src="../../assets/icons/cake.png" height="50px;">
            <h2>Cakes</h2> 
            <p>Customized Cakes for every event</p>  
            <img src="../../assets/icons/bread.png" height="50px;">
            <h2>Bread</h2>  
            <p>Fresh and delicious homemade baked bread.</p>   
        </div>
        <div class="prod2">
            <img src="../../assets/icons/cookie.png" height="50px;">
            <h2>Cookies</h2>
            <p>The most delicious cookies of the planet</p> 
            <img src="../../assets/icons/pizza.png" height="50px;">
            <h2>Pizza</h2>
            <p>The best pizza in the region</p>  
        </div>    
        <div class="prod3">
            <img src="../../assets/icons/donut.png" height="50px;">    
            <h2>Donuts</h2>      
            <p>Tasty and filled with anything you want</p>  
            <img src="../../assets/icons/shake.png" height="50px;">    
            <h2>Shakes</h2> 
            <p>Choose the flavour and enjoy the freshness</p>    
        </div> 
    </div>  
</div>

<div class="waiting">
    <div class="waitingtitle">
        <h2>We are waiting for you</h2>            
    </div>
</div> 