mat-card {

    max-width: 70%;
    margin: 2em auto;
    background-color: #292e33;
}

mat-card h2{
    text-align: center;  
}

th {
    font-size: 18px;
}

.newBtn{
    position: absolute;
    right: 20px;
    top: 20px;
}